@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Karla', sans-serif; }

body footer .attribution {
  font-size: 11px;
  text-align: center; }
  body footer .attribution a {
    color: #3e52a3; }
