@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* { margin: 0; padding: 0; box-sizing: border-box; font-size: 16px; font-family: 'Karla', sans-serif;}
$cyan-strong: hsl(178, 65%, 35%);
$cyan-light: hsl(179, 50%, 50%);
$Bright-yellow: hsl(71, 73%, 54%);
$Light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

body {
    background-color: $Light-gray;
    main {
        .container-gral {
            section {
                width: 600px;
                height: 460px;
                margin: 100px auto;
                .section-top {
                    width: 100%;
                    height: 210px;
                    background-color: white;
                    border-radius: 10px 10px 0 0;
                    .white-card {
                        padding: 40px 0 0 30px;
                        h1 {
                            color: $cyan-strong;
                            font-size: 27px;
                        }
                        h2 {
                            margin-top: 20px;
                            font-size: 20px;
                            color: $Bright-yellow;
                        }
                        p {
                            margin-top: 10px;
                            color: $grayish-blue;
                            line-height: 25px;
                        }
                    }
                }
                .section-bottom {
                    display: flex;
                    width: 100%;
                    height: 250px;
                    .green-card {
                        background-color: $cyan-strong;
                        width: 50%;
                        border-radius: 0 0 0 10px;
                        display: flex;
                        flex-direction: column;
                        h2 {
                            color: white;
                            margin: 34px 0 20px 34px;
                            font-size: 20px;
                        }
                        .p-price {
                            margin-left: 34px;
                            display: flex;
                            align-items: center;
                            b {
                                font-size: 30px;
                                color: white;
                                margin-right: 10px;
                            }
                            color: $Light-gray;
                        }
                        .p-text {
                            color: white;
                            margin: 10px 0 20px 34px;
                            font-size: 15px;
                    
                        }
                        button {
                            color: white;
                            width: 230px;
                            height: 40px;
                            border-style: none;
                            background-color: $Bright-yellow;
                            margin: 0 auto;
                            border-radius: 5px;
                            box-shadow: 3px 3px 4px 4px hsla(179, 65%, 25%, 0.37);
                            cursor: pointer;
                        }
                    }
                    .cyan-card {
                        background-color: $cyan-light;
                        width: 50%;
                        border-radius: 0 0 10px 0;
                        padding: 34px;
                        h3 {
                            color: white;
                            font-size: 20px;

                        }
                        ul {
                            margin-top: 20px;
                            li {
                                color: $Light-gray;
                                list-style: none;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {.attribution {font-size: 11px;text-align:center;a{ color: hsl(228, 45%, 44%);}}}
}

/* ==== MOBILE ==== */
@media (min-width: 100px) and (max-width: 600px) {
    body {
        main {
            .container-gral {
                section {
                    width: 350px;
                    height: auto;
                    .section-top {
                        height: 270px;
                        .white-card {
                            h1 {
                                font-size: 22px;
                            }
                            h2 {
                                font-size: 16px;
                            }
                            p {
                                font-size: 14px;
                                width: 88%;
                            }
                        }
                    }
                    .section-bottom {
                        flex-direction: column;
                        height: auto;
                        .green-card {
                            width: 100%;
                            border-radius: 0;
                            height: 240px;
                            button {
                                width: 280px;
                                height: 50px;
                            }
                        }
                        .cyan-card {
                            width: 100%;
                            border-radius: 0 0 10px 10px;
                            height: 240px;
                        }
                    }
                }
            }
        }
        footer {.attribution {font-size: 11px;text-align:center;a{ color: hsl(228, 45%, 44%);}}}
    } 
}